{% extends 'base.html' %}


{% block content %}
<style>

.hi{
    color: white;
}
.bbb {
  background-color: #82EB5A;
  text-align: center;
  padding: 80PX 20px 100px 20px;

}


</style>


<h1>미드필더 생성하기 </h1>
<form action="{% url 'players:create1' %}" method="POST" class="bbb">
    {% csrf_token %}
    <h1>미드필더 생성하기 </h1>
    <label>선수이름</label><br>
    <input type="text" name="title1"><br><br>
    
    <label>나이</label><br>
    <input type="number" name="age1"><br><br>
    
    <label>선수 설명</label><br>
    <textarea name="description1"></textarea><br><br>   
    <input type="submit" class="btn btn-primary"value="등록">
</form>

{% endblock %}    